<div><%- include('../partials/header.ejs') %></div>
<div class="book-details-grid">
  <div class="book-details-label">Shop Name:</div>
  <h5 class="page-header"><%= shop.ShopName %></h5>
  <div class="book-details-label">GRA Number:</div>
  <h5><%= shop.GRANumber %></h5>
  <div class="book-details-label">Liscense Number:</div>
  <h5><%= shop.LiscenseNumber %></h5>
  <div class="book-details-label">Renewal Date:</div>
  <h5><%= shop.RenewalDate.toDateString() %></h5>
  <div class="book-details-label">ExpiryDate:</div>
  <h5><%= shop.ExpiryDate.toDateString() %></h5>
  <div class="book-details-label">Area:</div>
  <h5><%= shop.Area %></h5>
  <div class="book-details-label">Contact Number:</div>
  <a href="tel:<%= shop.ContactNumber %>"><h5><%= shop.ContactNumber %></h5></a>
  <div class="book-details-label">GPS Coordinates:</div>
  <a href="https://maps.google.com/?q=<%= shop.Coordination %>"><h5><%= shop.Coordination %></h5></a>
  <div class="book-details-label">Certificate Validity:</div>
  <h5><%= shop.CertificateValidity %></h5>
  <div class="book-details-label">Note:</div>
  <h5><%= shop.Note %></h5>
  <div class="book-details-label">Files:</div>
  <button type="button" id = "files" class="btn btn-light">Download</button>

  <div class="btn-row">
    <a class="btn btn-primary" href="/shops/<%= shop.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
                { url: `/shops/${shop.id}` }) %>
  </div>
</div>